<div id="todayCardDiv" #todayCardDiv>
    <mat-card>
        <div id="primaryInfosDiv" #primaryInfosDiv>
            <div id="icon-div">
                <img id="main-weather-icon" [src]="currentWeather ? getWeatherIconURL(currentWeather.icon) : '/assets/icons/loading1.png'">
            </div>
            <div class="infos-div">
                <div class="main-infos-div">
                    <p>{{currentWeather ? (currentWeather.temp | number : '1.0-0') : '---' }}°C</p>
                </div>
                <div class="other-infos-div">
                    <p>{{currentWeather ? currentWeather.description : "---"}}</p>
                    <p *ngIf="currentWeather?.rain?.last_hour" id="rain-p">
                        <img id="rain-icon" src="/assets/icons/rainy.svg">
                        {{currentWeather?.rain?.last_hour}}
                    </p>
            </div>

            </div>
        </div>
        <mat-divider></mat-divider>
        <mat-grid-list [rowHeight]="nextForecast.length ? (((todayCardDiv.offsetHeight - primaryInfosDiv.offsetHeight) / nextForecast.length)) : 1" cols="1" *ngIf='nextForecast'>
            <mat-grid-tile  *ngFor="let forecast of arrayFromArrayOfObject(nextForecast)" rowspan="1">
                <div class="tile-content">
                    <b class="hour-b">{{forecast.date_unix * 1000 | date:'HH:mm' }}</b> 
                    <div>
                        <img class="weather-icon" [src]="getWeatherIconURL(forecast.icon)">
                        <div class="forecast-main-rain-prob-div">
                            <p class="forecast-main-p">{{forecast.main}}</p>
                            <div *ngIf="forecast.rain_prob" class="rain-infos-div">
                                {{forecast.rain_prob * 100 | number : '1.0-0'}}%
                                <img class="rain-icon" src="/assets/icons/rainy.svg">
    
                            </div>
                        </div>
                        <p class="temp-p">{{forecast.temp | number : '1.0-0'}}°C</p>
                        

                        
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
    
</div>
