#todayCardDiv {
    height: 100%;
}

.mat-card {
    height: fit-content;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #42424254;
}

.weather-icon {
    width: 40%;
}

#icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-infos-div {
    display: flex;
    justify-content: space-around;
}

.main-infos-div > p {
    padding: 0;
    margin: 0;
    font-size: x-large;
}

#rain-icon {
    filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(173deg) brightness(114%) contrast(95%);
    width: 30%;
}

#rain-p {
    display: flex;
    justify-content: center;
}

.other-infos-div {
    display: flex;
    justify-content: space-around;
}

.weather-icon {
    width: 20%;
}

.tile-content{
    display: flex;
    align-items: center;
    justify-content: start;
}

.tile-content > div{
    display: flex;
    align-items: center;
}

.tile-content > div > p{
    margin: 0;
}

.mat-grid-tile {
    font-size: 0.7vw;
}

.temp-p {
    position: absolute;
    right: 0;
    font-size: small;
}

.hour-b {
    padding-right: 5px;
    font-size: larger;
}

.rain-icon {
    filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(173deg) brightness(114%) contrast(95%);
    width: 30%;
    height: 30%;
}

.rain-infos-div {
    display: flex;
    align-items: center;
}

.forecast-main-p {
    font-size: small;
}

.other-infos-div > p {
    margin: 0;
}