#todayCardDiv {
    height: 100%;
}

.mat-card {
    height: fit-content;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #42424254;
}

.weather-icon {
    width: 40%;
}

#icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-infos-div {
    display: flex;
    justify-content: space-around;
}

.main-infos-div > p {
    padding: 0;
    margin: 0;
    font-size: x-large;
}

#rain-icon {
    filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(173deg) brightness(114%) contrast(95%);
    width: 30%;
}

#rain-p {
    display: flex;
    justify-content: center;
}

.other-infos-div {
    display: flex;
    justify-content: space-around;
}

.weather-icon {
    width: 15%;
}

#main-weather-icon {
    width: 30%;
    margin-top: -10px;
    margin-bottom: -10px;
}

.tile-content{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-left: 10px;
}

.tile-content > div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.tile-content > div > p{
    margin: 0;
}

.mat-grid-tile {
    font-size: 0.7vw;
}

.temp-p {
    padding-left: 10px;
    font-size: small;
}

.hour-b {
    padding-right: 5px;
    font-size: larger;
}

.rain-icon {
    filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(173deg) brightness(114%) contrast(95%);
    width: 30%;
}

.rain-infos-div {
    display: flex;
    align-items: center;
    justify-content: end;
}

.forecast-main-p {
    font-size: small;
}

.other-infos-div > p {
    margin: 0;
}

.forecast-main-rain-prob-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.forecast-main-rain-prob-div > p {
    margin: 0;
}