/* .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
}
    
.div1 { grid-area: 1 / 1 / 4 / 8; }
.div2 { grid-area: 1 / 8 / 8 / 11; }
.div3 { grid-area: 4 / 6 / 8 / 8; }
.div4 { grid-area: 8 / 6 / 11 / 11; }
.div5 { grid-area: 4 / 3 / 11 / 6; }
.div6 { grid-area: 4 / 1 / 8 / 3; }
.div7 { grid-area: 8 / 1 / 11 / 3; } */

.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
}
    
.div1 { grid-area: 1 / 1 / 4 / 9; }
.div2 { grid-area: 1 / 9 / 11 / 11; }
.div3 { grid-area: 4 / 1 / 11 / 7; }
.div4 { grid-area: 4 / 7 / 8 / 9; }
.div5 { grid-area: 8 / 7 / 11 / 9; }