<ng-template #customEventTemplate let-weekEvent="weekEvent" let-locale="locale">
  <div class="event-template-div">
    <div class="event-template-title-div">
      {{weekEvent.event.title}}
    </div>
    <div class="event-tempalte-hour-div">

        <p class="event-template-hour-text-div" id="event-template-hour-text-div-start">
          {{weekEvent.event.start | date:'h:mm'}}
        </p>
        <p class="event-template-hour-text-div" id="event-template-hour-text-div-end">
          {{weekEvent.event.end | date:'H:mm'}}
        </p>

    </div>
  </div>
</ng-template>

<ng-template #hourSegmentTemplate let-segment="segment" let-locale="locale">
  <div
    class="cal-hour-segment"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass">
    <span class="cal-time">
      {{ segment.date | date:'h:mm'}}
    </span>
  </div>
</ng-template>

<div #calendarThreeDaysDiv id="calendarThreeDaysDiv">
    <div id="calendars-div"  >
        <div class="day-calendar-div" *ngFor="let dayEvent of threeDaysEvents | async">
          <div class="day-div">
            {{dayEvent.day | date:'EEEE, d'}}  
          </div>
          <div #calendarDayViewDiv *ngIf="hourSegmentHeight > 0">
                <mwl-calendar-day-view
                [viewDate]="returnDateFormat(dayEvent.day)"
                [dayStartHour]="dayStartHour"
                [dayEndHour]="dayEndHour"
                [hourSegmentHeight]="hourSegmentHeight"
                [events]="this.calendarService.toCalendarEventArray(dayEvent.events)"
                [hourSegments]="hourSegments"
                [ngClass]="customDayView"
                [eventTemplate]="customEventTemplate"
                [hourSegmentTemplate]="hourSegmentTemplate"
              >
              
                <!-- [eventTemplate]="customEventTemplate" -->
                <!-- [hourSegmentHeight]="hourSegmentHeight" -->

              </mwl-calendar-day-view>
            </div>
        </div>

    </div>
</div>
